python-dotenv
pydantic 
langchain 
langchain-community 
pypdf 
langchain-text-splitters
langchain-openai 
sentence-transformers
langchain_huggingface
tqdm 
faiss-cpu
langchain-ollama
langchain_chroma 
chromadb 
langchain_openai
beautifulsoup4
langchain.chains
streamlit